@import '../../../theme/variables';

:host{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: none;
}

ion-header{
  background: $secondary;
}

ion-title{
  width: 100% !important;
  font-size: 22px !important;
  text-align: center !important;
  text-transform: initial !important;
}

ion-item{
  margin-top: 20px;
}

.modal-ion-card{
  margin-top: 80px;
  width: 90%;
  min-height: 80vh;
  background: $secondary;

  .modal-ion-card-image{
    border-radius: 20px;
    min-height: 50px !important;
  }
}

.ion-card-content-container{
  >div, a{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
