@import '../../../theme/variables';


:host{
  width: 100%;
}

.item-card{
  width: 90%;
  border-radius: 15px;
  height: 70px;
  background: $fourtiary;
  margin: 0 auto;
  margin-top: 10px;

  img, ion-img {
    height: 5em;
    object-fit: unset !important;
  }
}
