@import '../../../../theme/variables';

:host{
  width: 100%;
}


.ion-card{
  margin: 5px;

  ion-img{
    height: 8em !important;
  }

  .ion-card-header{
    min-height: 30px !important;
    margin-top: -5px;
    color: $tertiary !important;
    background: $fourtiary !important;
  }

}
